.Rproj.user
.Rhistorygood_dir <- test_path("good")
bad_dir <- test_path("bad")
bicy_meta <- load_metadata(test_path("good", "BICY_good"))
buis_meta <- load_metadata(test_path("good", "BUIS_good"))
.RData
.Ruserdata
scratchpad/*
data/
